/*! project specific CSS goes here. */

h1 {
	font-family: times;
	font-size: 64px;
	color: #424242;
	margin-top: 30px;
	margin-bottom: 10px;
	}


h2 {
	font-family: times;
	font-size: 36px;
	color: black;
	margin-top: 30px;
	margin-bottom: 10px;

	}

h3 {
	font-family: times;
	color: black;
	font-size: 24px;
	margin-bottom: 50px;
	}


h4 {
	font-family: times;
	color: black;
	font-size: 20px;
	}

h5 {
	font-family: times;
	font-size: 12px;
	color: black;
	margin: 0;
	line-height: 1.2;
	}

.all{
	width: 100%;
	border: 1px solid black;
	outline: 4px solid white;
	box-shadow: 0 0 0 8px black;
        margin: 3px;
        background: #ccffff;
}


.logo {
	width: 400px;
	height: 120px;
	text-align: center;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black;
	outline: 4px solid white;
	box-shadow: 0 0 0 8px black;
	margin-top: 40px;
        margin-bottom: 10px;
}


.hover {
	display: inline-block;
	width: 150px;
	height: 400px;
	background-color: white;
	text-align: center;
	border: 1px solid black;
	outline: 4px solid white;
	box-shadow: 0 0 0 8px black;
	padding: 25px 10px 0px 10px;
	line-height: 2em;
	}

.integer_pods_year{
	margin-top: 0px 0px 0px 0px;
}

.pods_year_text{
	margin-top: 0px 0px 0px 0px;
}



.click {
	display: inline-block;
	width: 300px;
	height: auto;
	background-color: white;
	border: 1px solid black;
	outline: 4px solid white;
	box-shadow: 0 0 0 8px black;
	padding: 5px 15px 5px 15px;
        margin-left: 20px;
        margin-bottom: 20px;
	}

.countryname{
	text-transform: capitalize;
}

.article{
	text-align: left;

}

#world-map {
    display: inline-block;
}
