<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PodAtlas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ STATIC_URL }}css/project.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-jvectormap-1.2.2.css" type="text/css" media="screen"/>



    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="http://jvectormap.com/js/jquery-jvectormap-world-mill-en.js"></script>
</head>

<body>
<div>
    <div class="logo">
        <div><h2>Pod Atlas</h2>
        <h5>An atlas of <a href="www.npr.com">NPR's</a> podcast topics around the world.<br>
            Built at
            <a href="www.hackaway.com">
                Hackaway</a>
            2014 with
            <a href="www.sr.se">
                SR
            </a>
            by
            <a href="https://github.com/team-i18n/hackaway">
            team i18n
            </a>.
        </h5>
        </div>

        <div>
            <div class="socialmedia">
                 <a href="https://twitter.com/podatlas" class="twitter-follow-button" data-show-count="false">Follow         @podatlas</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>


            <div class="fb-like socialmedia" data-href="https://www.facebook.com/pages/PodAtlas/950527241640617?skip_nax_wizard=true&amp;ref_type=pages_you_admin" data-width="100px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">
            </div>
        </div>
    </div>

        <div>
            <div id="world-map" style="width: 800px; height: 500px"></div>

            <div class="click">
                <div id="placeholder_display">
                    <p>
                        Whose stories are being told? We hear a lot of news
                        about some countries and not a lot of news about others.
                        Why is that? Is it because there are less people doing
                        less news worthy things? Is a lack of news buerus?
                    </p>
                    <p>
                        This map attempts to hightlight whose voices are getting
                        heard. Each country is colored showing how many podcasts
                        are being made about each country as a ratio to the
                        population that the country.
                    </p>
                    <p>
                        Darker countries mean more coverage per individual.
                        Lighter countries might mean people's stories aren't
                        being told.
                    </p>
                    <p>
                        Click on a country to see the list of the latest podcast
                        in the region.
                    </p>
                    <p>
                        NPR podcasts were collected going back to 2012. All
                        podcasts that meantioned the countries's name and where
                        in the category of "News" or "World" were selected.
                    </p>
                    <p>
                        Population data comes from the world bank's population
                        API for 2014.
                    </p>
                </div>
                {% for country in countries %}
                    {% include "country.html" %}
                {% endfor %}
            </div>
            </div>

        </div>
        </div>

        <script>
            var podcastsPerCapitaData = {{ podcasts_per_captia_data|safe }},
                    populationData = {{ population_data|safe }},
                    podcastsData = {{ podcasts_data|safe }},
                    current_country = $("#placeholder_display");

            $(function(){
                $('#world-map').vectorMap({
                    map: 'world_mill_en',
                    series: {
                        regions: [{
                            values: populationData,
                            scale: ['#C9F4F3', '#046604'],
                            normalizeFunction: 'polynomial'
                        }]
                    },
                    onRegionClick: function(event, code){
                        current_country.hide();
                        current_country = $("#" + code + "_display");
                        current_country.show();
                    },
                    onRegionLabelShow: function(event, label, code) {
                        label.html(
                                label.html()
                                        + "</br> Podcasts: "
                                        + podcastsData[code]
                                        + "</br> Population: "
                                        + populationData[code]);
                            },
                    backgroundColor: '#B1E1FC'
                });
            });

        </script>
    </div>
</div>

        <div>
            <h5>Built by <a href="www.twitter.com/rmeritz">@rmeritz</a>,
             <a href="www.twitter.com/anhristova">
                @ahristova</a> and
                <a href="www.twitter.com/heidiharman">
                @heidiharman</a>.</h5>
        </div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
