<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hackaway 2014</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="{{ STATIC_URL }}css/project.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-jvectormap-1.2.2.css" type="text/css" media="screen"/>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    {% comment %}
        Examples and document for jvector maps
        http://jvectormap.com/examples/world-gdp/

        There is also a map of sweden: http://jvectormap.com/maps/countries/sweden/
    {% endcomment %}
    <script src="{{ STATIC_URL }}js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="http://jvectormap.com/js/jquery-jvectormap-world-mill-en.js"></script>
  </head>

  <body>

    <div id="world-map" style="width: 1200px; height: 800px"></div>

    <script>
        $(function(){
            $('#world-map').vectorMap();
        });
    </script>

  </body>
</html>
