    <div class="inline">
        <div class="hover">
            <div class="integer_pods_year">
                <h1>88</h1>
            </div>

            <div class="pods_year_text">
                <h4>Pods per year</h4>
            </div>

            <h1>0,8</h1>
            <div>

                <div>
                    <h4>Pods per capita</h4>
                    <div>
                    </div>

                    <div class="click">
                        <div class="countryname">
                            <h2>Sweden</h2>
                        </div>

                        <div>
                            <h5>Population: 9,000 000<br>
                                Total pods: 45 </h5>
                        </div>



                        <div class="article">
                            <div>
                                <h4>News-title goes here even if its very long indeed</h4>
                            </div>
                            <h5><span>Date: 1/8 xyz</span><br>
                                Article text, short desc. Lorem ipsum dolor sit amet.
                                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </h5>
                        </div>

                    </div>
                </div>
